<h2>Tanösvények kezelése</h2>

<a href="/admin/ut/create" class="btn">Új tanösvény</a>
<link rel="stylesheet" href="/css/main.css" />

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Név</th>
            <th>Hossz</th>
            <th>Állomások</th>
            <th>Idő</th>
            <th>Település</th>
            <th>Műveletek</th>
        </tr>
    </thead>
    <tbody>
        <% utak.forEach(u => { %>
            <tr>
                <td><%= u.id %></td>
                <td><%= u.nev %></td>
                <td><%= u.hossz %></td>
                <td><%= u.allomas %></td>
                <td><%= u.ido %></td>
                <td><%= u.telepulesNev %></td>
                <td>
                    <a class="btn small" href="/admin/ut/edit/<%= u.id %>">Szerkesztés</a>
                    <a class="btn small danger" href="/admin/ut/delete/<%= u.id %>">Törlés</a>
                </td>
            </tr>
        <% }) %>
    </tbody>
</table>
